<!DOCTYPE html>
<html>
  <head>
    <title>
      BattleGeeks
    </title>
    <link rel="stylesheet" type="text/css" href="css/battleships.css">

  </head>
  <body> 

    <%= yield %>

  </body>
</html>
