

<p>Please place your ships <%= @player_name %>!</p>

<form action="/ship_placement" method="post">
  <select name="ships">
  <option value=4>Carrier</option>
  <option value=3>Destroyer</option>
  <option value=2>Submarine</option>
  </select>
  <select name="orientation">
  <option value=horizontally>Horizontal</option>
  <option value=vertically>Vertically</option>
  </select>
  <select name="hor_co">
  <option value=A>A</option>
  <option value=B>B</option>
  <option value=C>C</option>
  <option value=D>D</option>
  <option value=E>E</option>
  <option value=F>F</option>
  <option value=G>G</option>
  <option value=H>H</option>
  <option value=I>I</option>
  <option value=J>J</option>
  </select>
  <select name="ver_co">
  <option value=1>1</option>
  <option value=2>2</option>
  <option value=3>3</option>
  <option value=4>4</option>
  <option value=5>5</option>
  <option value=6>6</option>
  <option value=7>7</option>
  <option value=8>8</option>
  <option value=9>9</option>
  <option value=10>10</option>

  </select>

  <input type="submit" value="Place Ship">
</form>

<table border=1 width=400>
 <tr>
   <th></th>
   <% letter = "1" %>
   <% 10.times do %>
     <th><%= letter %></th>
     <% letter = letter.next %>
   <% end %>

 </tr>
 <% number = "A" %>
 <% @rows.each do |row| %>
 <tr>
   <th><%= number %></th>
     <% row.each do |coord| %>
       <% if coord.content.is_a?(Ship) %>
         <td bgcolor="grey"></td>
       <% else %>
         <td bgcolor="blue"></td>
       <% end %>
     <% end %>
   <% number = number.next %>
 </tr>
 <% end %>
</table>
